{% extends "layout2.html" %}
{% block title %}Add Team{% endblock %}
{% block content %}
<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                {%if team%}
                <h3 class="title has-text-grey">Update</h3>
                {%else%}
                <h3 class="title has-text-grey">Add Team</h3>
                {%endif%}
                <div class="box">
                    <form action="" method="post" name="">
                        {{ form.csrf_token }}
                        <div class="field">
                            <div class="control">
                            <p>Team name</p>
                                {%if team%}
                                {% set team_name = team['team_name'] %}
                                {{ form.team_name(required=True, autofocus=True,
                                class='input is-large',
                                value = team_name
                                ) }}
                                {%else%}
                                {{ form.team_name(required=True, autofocus=True,
                                class='input is-large',
                                placeholder='Team Name'
                                ) }}
                                {%endif%}

                            </div>
                            {% for error in form.team_name.errors %}
                            <p class="help has-background-warning">
                                {{ error }}
                            </p>
                            {% endfor %}
                        </div>
                        <div class="field">
                            <div class="control">
                            <p>Choose a manager</p>
                                {%if team%}
                                {% set leader_id = team['leader_id'] %}
                                {{ form.leader_id(required=True, autofocus=True,
                                class='input is-large',
                                placeholder = leader_id
                                ) }}
                                {%else%}
                                {{ form.leader_id(required=True, autofocus=True,
                                class='input is-large',
                                placeholder='leader_id'
                                ) }}
                                {%endif%}

                            </div>
                            {% for error in form.leader_id.errors %}
                            <p class="help has-background-warning">
                                {{ error }}
                            </p>
                            {% endfor %}
                        </div>
                        <div class="field">
                            <div class="control">
                            <p>Choose Project</p>
                               {%if team%}
                                {% set project_id = team['project_id'] %}
                                {{ form.project_id(required=True, autofocus=True,
                                class='input is-large',
                                value = project_id
                                ) }}
                                {%else%}
                                {{ form.project_id(required=True, autofocus=True,
                                class='input is-large',
                                placeholder='project_id '
                                ) }}
                                {%endif%}

                            </div>
                            {% for error in form.project_id.errors %}
                            <p class="help has-background-warning">
                                {{ error }}
                            </p>
                            {% endfor %}
                        </div>


                        <button class="button is-block is-info is-large is-fullwidth">
                            {% if team %}
                                Update
                            {% else %}
                                Add Team
                            {% endif %}
                        </button>



                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}