{% extends "layout2.html" %}
{% block title %}{{ purpose }}{% endblock %}
{% block content %}

<h1 class="title">{{title}}</h1>
{% if persons %}
    <form action="" method="post" >

<table class="table is-striped is-fullwidth">
<div style="font-weight: bold">
    Select Members
    <br>
    <br>
</div>
    {% for person in persons %}

    <tr>
        <td>
                            <label class="radio">
                                <input type="checkbox" name="user_id" value="{{ person['pid'] }}">
                            </label>

        </td>
        <td>
            <p >
                {{ person['pid'] }}
            </p>

        </td>
        <td>
            <p >
                {{ person['first_name'] }}
            </p>

        </td>
        <td>
            <p>
                {{ person['second_name'] }}
            </p>

        </td>
        <td>
                {{ person['phone'] }}
        </td>
        <td>
            <a href="mailto:{{person['mail']}} ">
                {{ person['mail'] }}
            </a>

        </td>
     </a>
    </tr>
    {% endfor %}
</table>
    {% if not(not teams or purpose=="takeOutfromTeam") %}
            <div style="font-weight: bold">
        Select a team
    </div>
        <div class="select is-2 is-offset-5">
            <select class="input is-narrow" name="team">
                {% for team in teams %}
                    <option value="{{team['t_id']}}"> {{team['team_name']}}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
    <br>
    <br>

        <button class="button is-info" >
            {% if purpose=="assign" %}
                Assign
                {% elif purpose == "updateMember" %}
                Update
                {% else %}
                Remove
            {% endif %}
        </button>

    </form>
{% endif %}

{% endblock %}