{% extends "layout2.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

    <h1 class="title">{{ title }}</h1>
    {% if current_user.is_admin %}
        <span>
             <a href="{{ url_for('add_project') }} " class="button is-medium is-success">
                 <p>Add new Project</p>
             </a>
    </span>
    {% endif %}
    {% if list %}

        <form action="" method="post">

            <table class="table is-striped is-fullwidth">
                <tr>


                    <td style="font-weight: bold">
                        Project Name
                    </td>
                    <td style="font-weight: bold">
                        Project Manager
                    </td>
                                        <td style="font-weight: bold">
                        Activate Status
                    </td>


                </tr>
                {% for x in list %}

                    <tr>


                        <td><a href="{{ url_for('project_page',project_id=x['pr_id'])}}">
                                                        {{ x['pr_name'] }}
                        </a>

                        </td>
                        <td>
                            {{ x['first_name'] }} {{ x['second_name'] }}
                        </td>
                                            <td>

                                                {% if x['is_active'] %}
                                                    Active
                                                    {%  else %}
                                                    Not Active
                                                {% endif %}
                        </td>
                        <td>


                            {% if current_user.is_admin or current_user.is_teamleader %}
                                <span>
                                    <a href="{{ url_for('update_project_page', project_id=x['pr_id']) }} "
                                         class="button is-small is-warning">
                                    <p>Update</p>
                                    </a>
                                 </span>
                                {% if current_user.is_admin %}
                                 <span>
                                    <a href="{{ url_for('delete_project', project_id=x['pr_id']) }} "
                                         class="button is-small is-danger">
                                    <p>Delete</p>
                                    </a>
                                 </span>
                                                                {% endif %}

                            {% endif %}
                        </td>


                    </tr>

                {% endfor %}
            </table>
            {% if title == "Select Employee" %}
                <button class="button is-info">
                    Next
                </button>

            {% endif %}
        </form>
    {% endif %}

{% endblock %}