{% extends "layout2.html" %}
{% block title %}Welcome {{ current_user.firstname }}{% endblock %}
{% block content %}
  <div id="content" class="container has-text-centered">
    <table class="table is-fullwidth is-centered">


        <tr>
            {% set i=0 %}
            {% for task_key, task in tasks%}
                {% if current_user.role == task.role %}

                <td style="padding: 50px;text-align: center;vertical-align: middle; ">
                    <a href="{{url_for('task_page', url=task.url)}}">
                        <button class="button is-centered is-primary" style="border-width: 50px; ">
                            <p>{{ task.title }} </p>
                        </button>
                    </a>
                </td>

                {% endif %}

            {% if loop.index % 3 == 0 %}
                <tr></tr>
            {% endif %}

            {% endfor %}
        </tr>
    </table>
  </div>


{% endblock %}
