{% extends "layout2.html" %}
{% block title %}Welcome {{ current_user.firstname }}{% endblock %}
{% block content %}
  <div id="content" class="container has-text-centered">
    <table class="table is-fullwidth is-centered">


        <tr>
            {% set i=0 %}
            {% for task_key, task in tasks%}

                <td style="padding: 50px;text-align: center;vertical-align: middle; ">
                    <a href="{{url_for('task_page', url=task.url)}}">
                        <button class="button is-centered is-primary" style="border-width: 50px; ">
                            <p>{{ task.title }} </p>

                        </button>
                    </a>
                </td>
            {% if loop.index % 3 == 0 %}
                <tr></tr>
            {% endif %}

            {% endfor %}
        </tr>
    </table>
  </div>
{% if current_user.is_admin or current_user.is_teamleader %}
<div class="is-right">
    <span>
    <a  href="{{url_for('task_add_page')}} " class="button is-success is-small">
        <p>Add Task</p>
    </a>
    </span>

    <span>
    <a  href="{{url_for('edit_task_page')}} " class="button is-small is-warning">
        <p>Edit Task</p>
    </a>
    </span>
    {% if current_user.is_admin %}
    <span>
    <a  href="{{url_for('delete_task_page')}} " class="button is-small is-danger">
        <p>Delete</p>
    </a>
    </span>
    {% endif %}
</div>
{% endif %}


{% endblock %}
