{% extends "layout2.html" %}
{% block title %} My Profile{% endblock %}
{% block content %}

<form action="" method="post" name="task_list">


    <section class="hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">My profile</h3>
                    <div class="box">
                        <form>

                            <div  class="column is-full">
                                <div class="control is-full">
                                    <p class=""> First Name :          <p><input disabled class="input is-large" id="firstname" name="firstname"
                                                                     type="text" value="{{user['first_name']}}">
                                </div>
                            </div>
                            <div class="column is-full">
                                <div class="control">
                                    <p class=""> Second Name : <p><input disabled class="input is-large" id="secondname" name="secondname"
                                                                     type="text" value="{{user['second_name']}}">
                                </div>
                            </div>
                            <div class="column is-full">
                                <div class="control">
                                    <p class=""> Phone : <p><input disabled class="input is-large" id="phone" name="phone"
                                                                     type="text" value="{{user['phone']}}">
                                </div>
                            </div>
                            <div class="column is-full">
                                <div class="control">
                                    <p class=""> Mail Adress : <p><input disabled class="input is-large" id="mail" name="mail"
                                                                     type="text" value="{{user['mail']}}">
                                </div>
                            </div>

                            <br><a href="{{url_for('update_profile_page', user_id=user['pid'])}}" class="button is-block is-warning is-small is-fullwidth">
                                Update data
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</form>


{% endblock %}