{% extends "layout2.html" %}
{% block title %}
    {{ project['pr_name'] }} Project
{% endblock %}
{% block content %}


    <section class="hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h3 class="title">
                    {{ project['pr_name'] }} Project
                </h3>
                <table class="table">
                    <td class="row  is-narrow">
                        <div class="column is-10">
                            <div class="box">

                                <div class="column is-full">
                                    <h2 class="title has-text-centered"> About Project </h2>

                                    <div class="control is-full">
                                        <p style="font-weight:bold"> Project Name : <a> {{ project['pr_name'] }} </a>

                                    </div>
                                </div>
                                <div class="column is-full">
                                    <div class="control">
                                        <p style="font-weight:bold"> Project Leader :
                                            <a> {{ project['first_name'] }} </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </td>
                    {% if teams %}

                        <td class="row is-narrow">
                        <div class="column is-10 ">
                            <div class="box">

                                <div class="column is-full">
                                    <h2 class="title has-text-centered"> Teams </h2>
                                    <table class="table is-striped is-fullwidth">
                                        {% for team in teams %}
                                            <tr>
                                                <p style="font-weight:bold">{{ loop.index }}. Team Name :
                                                    <a> {{ team['team_name'] }}</a>


                                                </p>
                                            </tr>

                                        {% endfor %}
                                    </table>

                                </div>


                            </div>
                        </div>
                    {% endif %}

                    </td>
                </table>
                {% if people_without_team %}
                    {% if current_user.is_admin or current_user.username == project['manager_id'] %}
                    <div class="column is-10 ">
                        <div class="box">

                            <div class="column is-full">
                                <h2 class="title"> People without Team </h2>
                            <a class="button is-success" href="{{ url_for('assign_to_team_page', project_id=project['pr_id'],purpose="assign") }}">Assign to a team</a>
                                <table class="table is-striped is-fullwidth">
                                    <tr>


                                        <td style="font-weight: bold">
                                            First Name
                                        </td>
                                        <td style="font-weight: bold">
                                            Second Name
                                        </td>
                                        <td style="font-weight: bold">
                                            Phone
                                        </td>
                                        <td style="font-weight: bold">
                                            Mail
                                        </td>


                                    </tr>
                                    {% for x in people_without_team %}
                                            <tr class="clickable" data-href="{{url_for('profile_page', user_id=x['pid'])}}">


                                            <td>
                                                {{ x['first_name'] }}


                                            </td>
                                            <td>
                                                {{ x['second_name'] }}
                                            </td>
                                            <td>
                                                {{ x['phone'] }}
                                            </td>
                                            <td>
                                                {{ x['mail'] }}

                                            </td>

                                        </tr>

                                    {% endfor %}
                                </table>

                            </div>
                            <div class="column is-full">
                                <h2 class="title"> People without Team </h2>
                            <a class="button is-warning" href="{{ url_for('assign_to_team_page', project_id=project['pr_id'] , purpose="edit")}}">Edit teams</a>
                                <table class="table is-striped is-fullwidth">
                                    <tr>


                                        <td style="font-weight: bold">
                                            First Name
                                        </td>
                                        <td style="font-weight: bold">
                                            Second Name
                                        </td>
                                        <td style="font-weight: bold">
                                            Phone
                                        </td>
                                        <td style="font-weight: bold">
                                            Mail
                                        </td>
                                        <td style="font-weight: bold">
                                            Team
                                        </td>


                                    </tr>
                                    {% for x in people_with_team %}
                                            <tr class="clickable" data-href="{{url_for('profile_page', user_id=x['pid'])}}">


                                            <td>
                                                {{ x['first_name'] }}


                                            </td>
                                            <td>
                                                {{ x['second_name'] }}
                                            </td>
                                            <td>
                                                {{ x['phone'] }}
                                            </td>
                                            <td>
                                                {{ x['mail'] }}

                                            </td>
                                                <td>
                                                {{ x['team_name'] }}

                                            </td>

                                        </tr>

                                    {% endfor %}
                                </table>

                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}


            </div>
        </div>
    </section>
<script>
    var elements = document.getElementsByClassName('clickable');
for (var i = 0; i < elements.length; i++) {
    var element = elements[i];
    element.addEventListener('click', function() {
        var href = this.dataset.href;
        if (href) {
            window.location.assign(href);
        }
    })
}
</script>



{% endblock %}