{% extends "layout2.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<h1 class="title">{{title}}</h1>
{% if persons %}
    <form action="" method="post" >

<table class="table is-striped is-fullwidth">
    {% for person in persons %}

    <tr class="clickable" data-href="{{url_for('profile_page', user_id=person['pid'])}}">
    {% if title == "Select Employee" %}
        <td>
                            <label class="radio">
                                <input type="radio" name="user_id" value="{{ person['pid'] }}" required="required">
                            </label>

        </td>
        {% endif %}
        <td>
            <p >
                {{ person['pid'] }}
            </p>

        </td>
        <td>
            <p >
                {{ person['first_name'] }}
            </p>

        </td>
        <td>
            <p>
                {{ person['second_name'] }}
            </p>

        </td>
        <td>
                {{ person['phone'] }}
        </td>
        <td>
            <a href="mailto:{{person['mail']}} ">
                {{ person['mail'] }}
            </a>

        </td>
     </a>
    </tr>
            {% if title != "Select Employee" %}
<script>
    var elements = document.getElementsByClassName('clickable');
for (var i = 0; i < elements.length; i++) {
    var element = elements[i];
    element.addEventListener('click', function() {
        var href = this.dataset.href;
        if (href) {
            window.location.assign(href);
        }
    })
}
</script>
            {% endif %}
    {% endfor %}
</table>
    {% if title == "Select Employee" %}
        <button class="button is-info" >
        Next
        </button>

    {% endif %}
    </form>
{% endif %}

{% endblock %}